/***
Basics! 
***/
body {
	background: #141311;
	color: #D9D9D9;
/*	font-family: Arial,Helvetica, sans-serif;*/
    font-family: 'Lato', sans-serif;
}
h2 {
/*    font-family: "Lucida Grande", Tahoma;*/
 font-size: 20px;
 font-variant: normal;
 text-align: center!important;
 letter-spacing: 0.1em;
 text-align: center;
}

p {
    color: #D9D9D9;
}

.header h2{
    font-size: 9vw;
    letter-spacing: 0em;
}

.about {
    font-size: 4vw;
    text-align: center!important;
}

@media only screen and (min-width: 550px) {
    /* For desktop: */
    .header h2{
    font-size: 50px;
    letter-spacing: 0em;
    }
    .about {
        font-size: 20px;
    }
}

/*
.about:before {
    content: " ";
    display: block;
    border-bottom: 4px solid white;
    margin-bottom: 1%;
    margin-right: 25%;
    margin-left: 25%;
    border-radius: 25px;
}
*/

/***
Contact Page
***/

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}
.about {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background: #1e1e1e;
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
    padding-bottom: 1%;
}

.title {
  color: grey;
  font-size: 18px;
}
/***
Columns
***/

/* Responsive layout*/
[class*="col-"] {
    width: 100%;
    float: left;
    padding: 15px;
    overflow-x: hidden;
}

.col-no-padding{
        padding: 0px;
    }

@media only screen and (min-width: 700px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 900px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    
    /* also changed audio-title font size in listen.css*/
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.row{
    overflow-x: hidden;
}

.row-padding {
    padding-bottom: 5%;
}

.placeholder-text {
    color:#141311;
}
/***
Main nav wheel
***/

#wheel-base, #circle, #bar {
    fill: white;
    stroke: white;
    stroke-width: 5;
    stroke-linecap: round;
}

#circle:hover {
    filter:url(#blur-effect-1)
}

.caption {
    fill: #D9D9D9;;
    font-size: 25px;
}

.caption:hover {
    transition: width 10s;
    fill: #FFFFFF;
    stroke-width: 1%;
   -webkit-transition: width 5s; /*Safari & Chrome*/
   transition: width 10s;
   -moz-transition: width 0.3s; /* Firefox 4 */
   -o-transition: width 0.3s; /* Opera */
}



