/*
* {
    box-sizing: border-box;
    border: 1px solid red;
}
*/

.audio-container {
/*    display: block;*/
    
    align-content: center;  
    max-height: 300px;
    overflow-y: scroll;
    vertical-align:top;
    overflow-x: hidden;
    max-width: 90%;
    
/*
    margin-top: 15%;
    margin-right: 10%;
    margin-bottom: 0px;
    margin-left: 15%;
*/

}
.audio-title {
    /*background: green;*/
    font-size: 20px;
    margin-top: 1%;
    margin-bottom: 1%;
}

.audio-title:before {
    content: "   ";
    display: block;
    border-bottom: 4px solid white;
    margin-bottom: 1%;
    margin-right: 50%;
    border-radius: 25px;
  }
/* audio::-webkit-media-controls-volume-slider-container

audio::-webkit-media-controls-volume-slider

https://stackoverflow.com/questions/26493446/change-size-of-scrollbar-thumb-with-css
*/


::-webkit-scrollbar {
    width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
     border: 1px solid #B0ABB0;
    background-clip: content-box;    THIS IS IMPORTANT 
}


/* Handle */
::-webkit-scrollbar-thumb {
   border: 1px solid #D9D9D9;
    background: #D9D9D9;
/*
    background: url(../img/thumb.png);*/
}

 